/**
*   Global partial styles:
*   Place all custom author global styles here
*/

.clearfix{ 
	@include clearfix(); 
} 

.animation{
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	-ms-transition: all 500ms ease-in;
	-o-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
}